{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_bandeau/page-header
    Page header.
}}
<header id="page-header" class="row">
    <div class="col-12 pt-3 pb-3">
        <div class="card card-bandeau" {{^has_links}}style='{{#course_image}}background-image: url("{{{course_image}}}"); background-repeat: no-repeat; background-position: right; background-size: 33%;{{/course_image}}' {{/has_links}}>
            <div class="card-body {{^navbar}}bandeau-header{{/navbar}}" {{#tools}}{{#has_links}}style='{{#course_image}}background-image: url("{{{course_image}}}"); background-repeat: no-repeat; background-position: right; background-size: 33%;{{/course_image}}' {{/has_links}}{{/tools}}>
                {{#navbar}}
                    <div id="page-navbar" class="clearfix w-100 float-left" >
                        <div class="breadcrumb-nav float-left" {{#tools}}{{#course_image}}style="max-width: 67%;"{{/course_image}}{{/tools}}>
                            {{{navbar}}}
                        </div>
                        <div class="breadcrumb-button breadcrumb-button-right float-right">
                            {{{page_heading_button}}}
                        </div>
                    </div>
                {{/navbar}}
                {{^navbar}}
                    <div class="breadcrumb-button">
                        {{{page_heading_button}}}
                    </div>
                {{/navbar}}
                <!--<div class="float-right context-header-settings-menu">
                    {{{context_header_settings_menu}}}
                </div>-->
                <div class="float-left" {{#tools}}{{#course_image}}style="max-width: 67%;"{{/course_image}}{{/tools}}>
                    {{{context_header}}}
                </div>
                <div id="course-header">
                    {{{course_header}}}
                </div>
                {{#headeractions}}
                    <div class="header-actions-container flex-shrink-0 content-bank-menu" data-region="header-actions-container">
                        <div class="header-action ml-2">{{{.}}}</div>
                    </div>
                {{/headeractions}}
            </div>
            {{#tools}}
                {{^has_links}}
                    <a class="home-link" href='{{{courseurl}}}' style="width: 60px; height: 45px; padding: .5rem 1rem;" title="{{#str}}home_course, theme_bandeau{{/str}}"><i class="material-icons">school</i> </a>
                {{/has_links}}
                {{{tools}}}
            {{/tools}}
        </div>
    </div>
</header>
